<!DOCTYPE html>
<html lang="en">
<head>
  <title>EDIT Deptarment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 style="color: #008CBA;; text-align: center;font-weight: bolder;">Edit Department</h2>
  <form method="POST" class="post-form" action="/updatedept/{{Dept.Department_ID}}">
      <input type="hidden" name="Department_ID" id="Department_ID" required maxlength="20" value="{{ Dept.Department_ID }}"/>
    {% csrf_token %}
    <div class="form-group">
        <label for="dept">Department Nmae:</label>
        <input type="text" class="form-control" id="dept" placeholder="Enter Department Name" name="Department_Name" value="{{ Dept.Department_Name }}"/>
      </div>
    
    
    <button type="submit" class="btn btn-success">Update</button>
  {% if messages %}
  {% for msg in messages %}
   
  <b> {{msg}} </b>
  {% endfor %}
  {% endif %}
</form>
</div>

</body>
</html>
